<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developed by Orson.io team" name="author"/>
    <meta content="Mashup templates have been modified by Aron Benedek Ladanyi" name="programmer"/>

    <!-- Disable tap highlight on IE  -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>About me</title>
    <script src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  </head>

    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8H9P54HSY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8H9P54HSY');
  </script>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
              <li><a href="{{ url_for('html_page', page_name='works.html') }}" title="">02 : Works</a></li>
              <li><a href="{{ url_for('html_page', page_name='about.html') }}" title="" class="active">03 : About me</a></li>
              <li><a href="{{ url_for('html_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">03 : About me</h1>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <p>
                      My name is <b>Benedek Áron Ladányi</b>, and I am a Full
                      Stack and Machine Learning Developer. I currently work at
                      an international company where my primary responsibilities
                      include <b>developing</b> and maintaining corporate
                      <b>websites</b>, optimizing SEO, and creating
                      department-specific <b>applications</b>. My main focus is
                      the
                      <b
                        >implementation of AI and machine learning
                        technologies</b
                      >
                      on a global scale within the company. I primarily work
                      with <b>PHP, Python</b>, and <b>JavaScript</b> in my daily
                      tasks. <br />I completed my studies in Hungary at the
                      <b>University of Szeged</b>, where I earned
                      <b>MSc degrees in Geography and Geography Teaching</b>.
                      During my university years, I became fascinated with
                      <b>geoinformatics</b>, particularly in areas like GIS
                      (Geographic Information Systems) and satellite remote
                      sensing. Recently, <br />I have delved deeper into the
                      world of <b>machine learning</b>, exploring the potential
                      of this field, such as model development, predictive
                      systems, data processing, and visualization. <br /><b />Key
                      technologies I work with:</b> <br /><b>Python:</b> Flask,
                      TensorFlow, Matplotlib, Conda, Colab, Pandas, Numpy,
                      Scikit-learn, Keras <br /><b>PHP:</b> Laravel <br /><b
                        >Other tools:</b
                      >
                      Git, GitHub, Docker, Bitbucket, Jira <br />I enjoy working
                      in teams, especially when
                      <b>agile methodologies</b> support the process. I believe
                      in hard work, continuous learning, and the importance of
                      <b>integrity</b>. <br />In my free time, I love coding for
                      personal projects (websites and Python-based applications)
                      and am always eager to learn new things. Additionally, I
                      enjoy <b>swimming, cycling</b>, and attending
                      <b>cultural events</b>.
                    </p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img
                      src="{{ url_for('static', filename='assets/images/profil.jpg') }}"
                      class="img-responsive"
                      alt="Profile image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>

  </body>
</html>
