<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developed by Orson.io team" name="author" />
    <meta content="Mashup templates have been modified by Aron Benedek Ladanyi" name="programmer" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>Work</title>
    <script src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8H9P54HSY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8H9P54HSY');
  </script>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
              <li><a href="{{ url_for('html_page', page_name='works.html') }}" title="" class="active">02 : Works</a></li>
              <li><a href="{{ url_for('html_page', page_name='about.html') }}" title="">03 : About me</a></li>
              <li><a href="{{ url_for('html_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="{{ url_for('html_page', page_name='work-ml-dog.html') }}" title="" >001</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-ml-bulldozer.html') }}" title="" >002</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-ml-heart-disease.html') }}" title="" class="active">003</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-ml-soccer.html') }}" title="" >004</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/mlHeart/image-4.png')}}"
              class="img-responsive"
              alt="Correlation Matrix"
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">
                  003 : Predicting Heart disease using machine learning
                </h1>
              </div>
              <p>
                This project focuses on applying machine learning techniques to
                <b>predict</b> the likelihood of heart disease in patients based
                on clinical data. Heart disease is one of the leading causes of
                death globally, and early detection can greatly improve patient
                outcomes. By leveraging machine learning, this project seeks to
                build a predictive model that can assist healthcare
                professionals in identifying at-risk individuals more
                efficiently. The process involves working with a well-known
                dataset from the <b>Cleveland Heart Disease study</b>, available
                through the UCI Machine Learning Repository, and also accessible
                on Kaggle. This dataset includes various clinical parameters
                that are commonly measured in medical exams, such as age,
                cholesterol levels, resting blood pressure, and results from
                stress tests. Machine learning algorithms (e.g., logistic
                regression, decision trees, or neural networks) are typically
                used to train the model. The goal is to train a model that can
                analyze these factors and predict whether or not a patient is
                likely to have heart disease.<br />
                This project aims to provide a solution for one of the most
                critical challenges in healthcare:
                <b>predicting and preventing heart disease</b> through
                data-driven insights.<br />><a
                  href="https://github.com/Benedek76/ML-Heart-Disease"
                  ><b>Visit website</b></a
                ><
              </p>
            </div>
          </div>

          <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/mlHeart/image-2.png')}}"
                  class="img-responsive"
                  alt="Heart disease frequency chart"
                />
                <p>Heart disease frequency for Sex</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/mlHeart/image-3.png')}}"
                  class="img-responsive"
                  alt="Plotting and bars"
                />
                <p>Plotting and bars</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/mlHeart/image-1.png')}}"
              class="img-responsive"
              alt="Jupyter notebook dashboard"
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>

  </body>
</html>
