<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developed by Orson.io team" name="author"/>
    <meta content="Mashup templates have been modified by Aron Benedek Ladanyi" name="programmer"/>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>Work</title>
    <script src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8H9P54HSY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8H9P54HSY');
  </script>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
              <li><a href="{{ url_for('html_page', page_name='works.html') }}" title="" class="active">02 : Works</a></li>
              <li><a href="{{ url_for('html_page', page_name='about.html') }}" title="">03 : About me</a></li>
              <li><a href="{{ url_for('html_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="{{ url_for('html_page', page_name='work-software-python.html') }}" title="">001</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-dice.html') }}" title="">002</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-pdf.html') }}" title="" class="active">003</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-lp.html') }}" title="">004</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-wp.html') }}" title="">005</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/pdf/image-1.png')}}"
              class="img-responsive"
              alt="Login page of the Hype company"
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">003 : Price Proposal Html convert to PDF</h1>
              </div>
              <p>
                This PDF Conveter was written in PHP and JavaScript.
                <br />
                Form to PDF Web Application.<br />
                This project is a dynamic web application that allows users to
                input and edit information through an integrated rich text
                editor <b>(Quill)</b> and generate a <b>PDF document</b> that
                combines both user input and predefined images. Key features
                include: <br /><b>User Authentication:</b> Secure login with
                session management, displaying personalized content.
                <b>Rich Text Editing:</b> Utilizes Quill.js to enable users to
                easily format and edit multiple sections of a form. <br /><b
                  >PDF Generation:</b
                >
                Leveraging <b>jsPDF</b> and <b>html2canvas</b>, the application
                converts both text and images into a downloadable PDF file.
                <br /><b>Responsive Design:</b> The layout adjusts for optimal
                viewing on various devices, ensuring accessibility and ease of
                use. <br /><b
                  >Seamless Integration of Static and Dynamic Content: </b
                >Combines user-edited content with static images to produce a
                professional-looking PDF document. This project demonstrates the
                ability to create interactive web applications with practical
                real-world applications in document generation and
                customization. This concise description highlights the technical
                features while keeping the focus on what the project
                accomplishes.<br />><a href="https://price.hype-ip.com/"
                  ><b>Visit website</b></a
                ><
              </p>
            </div>
          </div>

          <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/pdf/image-2.png')}}"
                  class="img-responsive"
                  alt="PDF converting section"
                />
                <p>PDF converting section</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/pdf/image-5.png')}}"
                  class="img-responsive"
                  alt="Downloads folder"
                />
                <p>Downloads folder</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/pdf/image-3.png')}}"
              class="img-responsive"
              alt="Price Proposal page"
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>

  </body>
</html>
