<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developed by Orson.io team" name="author"/>
    <meta content="Mashup templates have been modified by Aron Benedek Ladanyi" name="programmer"/>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>Work</title>
    <script src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8H9P54HSY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8H9P54HSY');
  </script>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
              <li><a href="{{ url_for('html_page', page_name='works.html') }}" title="" class="active">02 : Works</a></li>
              <li><a href="{{ url_for('html_page', page_name='about.html') }}" title="">03 : About me</a></li>
              <li><a href="{{ url_for('html_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="{{ url_for('html_page', page_name='work-software-python.html') }}" title="" class="active">001</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-dice.html') }}" title="">002</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-pdf.html') }}" title="">003</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-lp.html') }}" title="">004</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-wp.html') }}" title="">005</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/python/image-1.png')}}"
              class="img-responsive"
              alt="Office Portal login page"
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">
                  001 : Office Portal - Document Comparison Tool
                </h1>
              </div>
              <p>
                This <b>Python - Flask project</b> implements a corporate <b>Office Portal</b>, which offers <b>various/</b> tools and <b>programs</b> for internal company use. One of the primary tools available in this portal is a <b>PDF document comparison tool</b>, which <b>compares</b> uploaded <b>PDF files</b> against a master <b>DOCX file</b> and visually displays the <b>differences</b> on the web interface.

                The comparison is <b>highlighted</b> with green for similarities and red for <b>differences</b>, allowing users to quickly identify changes between the two documents.

                Additionally, the portal includes a <b>login system</b> that ensures secure access to the tools, utilizing <b>hashed passwords</b> for authentication.
                <br /><br />
                <b>Features:</b><br />
                <b>1. Document Comparison</b><br />
                - Functionality: <b>Compares</b> a user-uploaded PDF document with a master DOCX file.<br />
                - Visual Differences: Green highlights <b>indicate matching</b> content between the PDF and the DOCX.
                Red highlights <b>indicate differing</b> content.<br />
                - Supported Formats:
                Input: <b>.pdf</b> (user-uploaded document) and <b>.docx</b> (master document).<br />
                <b>2. Login System</b><br />
                - Secure Authentication: Users must log in to access the tools within the portal.<br />
                - Password Hashing: Passwords are stored securely using <b>bcrypt hashing</b>, ensuring that user credentials are not stored in plain text.<br />
                - User Sessions: After login, the user's session is maintained, and they can access the comparison tool until they log out.<br />
                <b>3. Cache Control and Session Handling</b><br />
                - Session Management: The session is cleared after logging out, and the cache is invalidated to prevent unauthorized access using browser navigation (e.g., back button).<br />
                - No Caching: Ensures that sensitive data is not stored or accessible after logout by disabling page caching.<br />
                <b>4. Error Handling and File Validation</b><br />
                - File Type Validation: The system validates the file formats before processing, ensuring that only <b>PDF</b> and <b>DOCX files</b> are allowed. If the files are of an unsupported format, users receive an error message.<br />
                - Error Feedback: If an error occurs (e.g., missing file, incorrect format), the user is notified with a clear message via the Flask flash mechanism.<br />
                <b>5. Visual and User-Friendly Interface</b>
                - Intuitive Interface: The user interface is designed for simplicity and ease of use, making it easy for employees to upload and compare documents.<br />
                - Responsive Design: The interface is responsive, making it accessible from different devices, including desktops and mobile devices.
                <br />><a href="https://office.hype-ip.com/"
                  ><b>Visit website</b></a
                ><
              </p>
            </div>
          </div>

          <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/python/image-4.png')}}"
                  class="img-responsive"
                  alt="Comparing Result Page"
                />
                <p>Comparing Result Page</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/python/image-3.png')}}"
                  class="img-responsive"
                  alt="Dashboard of the applications"
                />
                <p>Dashboard</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/python/image-2.png')}}"
              class="img-responsive"
              alt="Document comparison and Price Proposal apps"
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>

  </body>
</html>
