<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developed by Orson.io team" name="author"/>
    <meta content="Mashup templates have been modified by Aron Benedek Ladanyi" name="programmer"/>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>Work</title>
    <script src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8H9P54HSY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8H9P54HSY');
  </script>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
              <li><a href="{{ url_for('html_page', page_name='works.html') }}" title="" class="active">02 : Works</a></li>
              <li><a href="{{ url_for('html_page', page_name='about.html') }}" title="">03 : About me</a></li>
              <li><a href="{{ url_for('html_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="{{ url_for('html_page', page_name='work-software-python.html') }}" title="" >001</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-dice.html') }}" title="">002</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-pdf.html') }}" title="">003</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-lp.html') }}" title="">004</a></li>
              <li><a href="{{ url_for('html_page', page_name='work-software-wp.html') }}" title="" class="active">005</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/wp/image-1.png')}}"
              class="img-responsive"
              alt="Dashboard of the WordPress Theme"
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">
                  005 : Custom WordPress Theme Development in PHP
                </h1>
              </div>
              <p>
                This project demonstrates the process of converting an HTML/CSS
                template into a <b>fully functional WordPress theme</b>. It
                includes key development steps such as structuring the theme,
                implementing
                <b
                  >essential WordPress files (index.php, header.php,
                  footer.php), creating post loops, and custom templates like
                  single.php, archive.php, 404.php,</b
                >
                and more. Additionally, it integrates custom widgets using the
                <b>Elementor</b> page builder. The theme is further refined
                through miscellaneous improvements before final deployment. This
                project showcases a comprehensive approach to custom theme
                creation in <b>WordPress</b> including message sending, post
                comments, and custom thumbnails management from the WordPress
                dashboard.<br />><a href="https://benedek.hype-ip.com/"
                  ><b>Visit website</b></a
                ><
              </p>
            </div>
          </div>

          <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/wp/image-2.png')}}"
                  class="img-responsive"
                  alt="Page of the VisionSpot custom WordPress theme"
                />
                <p>Theme Page</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="{{ url_for('static', filename='assets/images/portfolio/wp/image-4.png')}}"
                  class="img-responsive"
                  alt="Dashboard"
                />
                <p>Dashboard</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <img
              src="{{ url_for('static', filename='assets/images/portfolio/wp/image-3.png')}}"
              class="img-responsive"
              alt="Posts page of the WordPress dashboard"
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>

  </body>
</html>
