<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developed by Orson.io team" name="author"/>
    <meta content="Mashup templates have been modified by Aron Benedek Ladanyi" name="programmer"/>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>Works</title>
    <script src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8H9P54HSY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8H9P54HSY');
  </script>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
              <li><a href="{{ url_for('html_page', page_name='works.html') }}" title="" class="active">02 : Works</a></li>
              <li><a href="{{ url_for('html_page', page_name='about.html') }}" title="">03 : About me</a></li>
              <li><a href="{{ url_for('html_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">02 : Works</h1>
              <p>
                The projects showcased on the site primarily focus on web application development, both on the <b>frontend</b> and <b>backend</b>, using <b>Python</b> and <b>PHP</b> technologies.<br />
                <b>Python: Flask</b> is used to create dynamic and responsive <b>websites</b> that feature user-friendly designs and advanced <b>data management</b> functions. In <b>machine learning</b> projects, popular Python libraries like <b>TensorFlow</b> and <b>Scikit-learn</b> are utilized to <b>build various models</b> and <b>perform data analysis.</b><br />
                <b>PHP</b>: The <b>Laravel</b> framework plays a key role in the efficient development of complex <b>web applications</b> and <b>backend systems</b>. The projects place great emphasis on data security and the optimization of data processing to ensure the applications are reliable and fast. <br />
                <b>SEO</b> (Search Engine Optimization) is also a critical factor, ensuring better rankings in search engines. Google Analytics is used to regularly analyze user behavior, allowing for continuous improvement of <b>site performance</b> and <b>user experience</b>.
              </p>
            </div>
          </div>

          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">Machine Lerning</h1>
            </div>
          </div>

          <!-- 1st. Carousel - Machine Learning -->
          <div class="col-md-12">
            <div id="myCarousel" class="carousel slide projects-carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-ml-dog.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/ml/p_con_sci/mlPyCoScD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/004</h4>
                        <h3>Classification Problem</h3>
                        <p>End-to-end Multi-class Dog Breed Classification.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-ml-dog.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-ml-bulldozer.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/ml/p_con_sci/mlPyCoScD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/004</h4>
                        <h3>Regression problem</h3>
                        <p>Predicting the Sale Price of Bulldozers using ML.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-ml-bulldozer.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-ml-heart-disease.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/ml/p_con_sci/mlPyCoScD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/004</h4>
                        <h3>Classification problem</h3>
                        <p>Predicting Heart disease using machine learning.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-ml-heart-disease.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-ml-soccer.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/ml/p_con_sci/mlPyCoScD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>004/004</h4>
                        <h3>Soccer Data Insights</h3>
                        <p>Exploring Player Wage and Value Relations.</p>
                        <a href="{{ url_for('html_page', page_name='work-ml-soccer.html') }}" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
              </div>
              <!--/carousel-inner-->
              <a
                class="left carousel-control"
                href="#myCarousel"
                data-slide="prev"
                >‹</a
              >

              <a
                class="right carousel-control"
                href="#myCarousel"
                data-slide="next"
                >›</a
              >
            </div>

            <!--/myCarousel-->
          </div>
        </div>
      </div>
    </div>

    <!-- 2nd. Carousel - Software -->
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">Software</h1>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel2" class="carousel slide projects-carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-software-python.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/software/python/softwarePythonD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/005</h4>
                        <h3>Office Portal</h3>
                        <p> - Document Comparison Tool.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-software-python.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-software-dice.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/software/js/softwareJsD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/005</h4>
                        <h3>Dice Game</h3>
                        <p>The game is 2-player and turn-based.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-software-dice.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-software-pdf.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/software/php/softwarePhpD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/005</h4>
                        <h3>Price Proposal</h3>
                        <p>HTML to PDF Conveter with PHP and JavaScript.</p>
                        <a
                         href="{{ url_for('html_page', page_name='work-software-pdf.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>

                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-software-lp.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/software/php/softwarePhpD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>004/005</h4>
                        <h3>LastPass</h3>
                        <p>LastPass trial feature modul development.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-software-lp.html') }}"
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-software-wp.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="{{ url_for('static', filename='assets/images/imageText/software/php/softwarePhpD.webp')}}"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>005/005</h4>
                        <h3>WP Theme Dev.</h3>
                        <p>Demonstrates a WordPress theme development.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-software-wp.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>

                <!--/item-->
              </div>
              <!--/carousel-inner-->
              <a
                class="left carousel-control"
                href="#myCarousel2"
                data-slide="prev"
                >‹</a
              >

              <a
                class="right carousel-control"
                href="#myCarousel2"
                data-slide="next"
                >›</a
              >
            </div>
            <!--/myCarousel-->
          </div>
        </div>
      </div>
    </div>

    <!-- 3th. Carousel - Website-->
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">Website</h1>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel3" class="carousel slide projects-carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-flask.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/flask/websiteFlaskD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/008</h4>
                        <h3>Flask based website</h3>
                        <p>Aaron Benedek Ladanyi Portfolio website.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-flask.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-laravel-riel.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/laravel/websiteLaravelD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/008</h4>
                        <h3>Riel company's webshop</h3>
                        <p>Webshop development with Laravel framework</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-laravel-riel.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-laravel-ph.html') }}"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/laravel/websiteLaravelD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/008</h4>
                        <h3>Pizza House, Laravel</h3>
                        <p>Pizza shop project development with Laravel.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-laravel-ph.html') }}"
                          title=""
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-trendy.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/html/softwareHtmlD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>004/008</h4>
                        <h3>Trendy Webpage Layout</h3>
                        <p>Trendy Webpage design with responsive layout.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-trendy.html') }}"
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-green.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/html/softwareHtmlD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>005/008</h4>
                        <h3>Greenwood Homes Website</h3>
                        <p>Website reflecting the company’s branding.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-green.html') }}"
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-react.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/react/websiteReactD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>006/008</h4>
                        <h3>React Basics Test</h3>
                        <p>React test development, Pizza menu, Profile card.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-react.html') }}"
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-wp-hype.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/wordpress/websiteWordpressD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>007/008</h4>
                        <h3>Hype Website development</h3>
                        <p>Hype Energy Drink Company Website development.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-wp-hype.html') }}"
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="{{ url_for('html_page', page_name='work-website-wp-grace.html') }}"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/imageText/website/wordpress/websiteWordpressD.webp"
                          alt="Clickable Thumbnail image with icons of different type of the program languages."
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>008/008</h4>
                        <h3>Grace Website Development</h3>
                        <p>Grace Gachot Musician Website development.</p>
                        <a
                          href="{{ url_for('html_page', page_name='work-website-wp-grace.html') }}"
                          class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
              </div>
              <!--/carousel-inner-->
              <a
                class="left carousel-control"
                href="#myCarousel3"
                data-slide="prev"
                >‹</a
              >

              <a
                class="right carousel-control"
                href="#myCarousel3"
                data-slide="next"
                >›</a
              >
            </div>
            <!--/myCarousel-->
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>
  </body>
</html>
