<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />
    <meta
      content="Mashup templates have been modified by Aaron Benedek Ladanyi"
      name="programmer"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/apple-icon-180x180.png"
    />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Work</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet" />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>

            <ul
              class="nav navbar-nav navbar-right navbar-small visible-md visible-lg"
            >
              <li>
                <a href="./work-website-flask.html" title="">001</a>
              </li>
              <li>
                <a href="./work-website-laravel-riel.html" title="">002</a>
              </li>
              <li>
                <a href="./work-website-laravel-ph.html" title="" class="active"
                  >003</a
                >
              </li>
              <li><a href="./work-website-green.html" title="">004</a></li>
              <li><a href="./work-website-trendy.html" title="">005</a></li>
              <li><a href="./work-website-react.html" title="">006</a></li>
              <li><a href="./work-website-wp-hype.html" title="">007</a></li>
              <li><a href="./work-website-wp-grace.html" title="">008</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="/static/assets/images/portfolio/pizza-house/image-1.png"
              class="img-responsive"
              alt=""
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">
                  003 : Pizza House project development with Laravel Framework.
                </h1>
              </div>
              <p>
                The Pizza Shop project is a web application developed using the
                <b>Laravel framework</b>, which is designed to simulate a
                real-world pizza shop. The project includes key features such
                as:<br /><b> Main Page with Pizza Menu:</b> A dynamic page that
                displays available pizzas from a menu. This page pulls data from
                a database and presents it to users in an engaging manner.
                <br /><b>Product Page:</b> Each pizza has a dedicated product
                page showing detailed information like ingredients, price, and
                customization options (e.g., size, crust type). <br /><b
                  >Shopping Cart:</b
                >
                A dynamic cart where users can add pizzas, modify quantities,
                and see real-time price updates. This is implemented using a
                combination of Laravel controllers and JavaScript (possibly
                using a Node.js package for real-time updates). <br /><b
                  >Checkout Page:</b
                >
                Users can proceed to the checkout, where they enter payment
                details and confirm the order. <br /><b
                  >User Registration & Login: </b
                >Standard authentication system allowing users to create
                accounts, log in, and access personalized features. <br /><b
                  >User’s Personal Account: </b
                >Registered users can view their order history, saved
                preferences, and past purchases.
              </p>
            </div>
          </div>

          <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="/static/assets/images/portfolio/pizza-house/image-2.png"
                  class="img-responsive"
                  alt=""
                />
                <p>Authentication Page</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="/static/assets/images/portfolio/pizza-house/image-4.png"
                  class="img-responsive"
                  alt=""
                />
                <p>Order Page</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <img
              src="/static/assets/images/portfolio/pizza-house/image-3.png"
              class="img-responsive"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="font-size: medium">
              © <b id="demo"></b> | <b>Upgraded by Aron Benedek Ladanyi</b>
            </p>
            <p style="font-size: x-small">
              Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });

      const d = new Date();
      let year = d.getFullYear();
      document.getElementById("demo").innerHTML = year;
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="main.70a66962.js"></script>
  </body>
</html>
